::-webkit-scrollbar {
    display: none;
}

*{
    font-family: sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.all-content {
    display: flex;
    height: 100vh;
}

.selected {
    background-color: #F2F2F2;
}

.small-note {
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.small-note-inside {
    overflow: hidden;
    min-height: 100px;
}

.tool-bar {
    display: flex;
    background-color: #F2F2F2;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.search-div{
    display: flex;
    background-color: white;
    border-radius: 8px;
    height: 29px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2.5px;
}

#search-bar, #search-btn{
    margin: 0px;
}

.tool-bar input {
    margin: 20px;
    width: 100%;
    height: 30%;
}

.tool-bar img {
    margin: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    margin-bottom: 20px;
    overflow: hidden;
}

.vertical-line {
    width: 0.01%;
    height: 100vh;
    background-color: black;
    align-items: flex-start;
    justify-content: center;
    display: flex;
}

.vertical-line img {
    margin-top: 145px;
}

.main-content img {
    position: absolute;
    top: 50px;
    right: 50px;
}

.notes{
    overflow-y: scroll;
    flex: 1;
}

.hidden{
    display: none;
}

.A4-Blatt{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 600px;
    overflow-y: scroll;
    padding: 80px 0 80px 0;
    margin-left: 50px;
}

.small-note-title{
    font-size: 16px;
}

.small-note-text{
    font-size: 13px;
}

.small-note-inside > p{
    font-size: 13px;
}

#title-input{
    font-size: 26px;
    outline: none;
    margin-bottom: 5px;
}

#search-bar{
    outline: none;
    border: none;
}

#text-input{
    font-size: 16px;
    outline: none;
}

#display-date{
    margin-top: 5px;
}

.small-note-date, .small-note-text, #display-date{
    color: #898989
}

p[contenteditable]:empty::before {
    content: "Enter a text";
    color: #aaa;
    pointer-events: none;
}

h1[contenteditable]:empty::before {
    content: "Enter a title";
    color: #aaa;
    pointer-events: none;
}

h1[contenteditable]:focus::before {
    content: "";
}

p[contenteditable]:focus::before {
    content: "";
}

@keyframes shrink{
    0% {
        width: 300px;
    }

    100% {
        width: 0px;
        margin-right: 20px;
    }
}

.shrink{
    animation: shrink 2s forwards;
}

@keyframes grow{
    0% {
        width: 0px;
    }

    100% {
        width: 300px;
    }
}

.grow{
    animation: grow 2s forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

.rotate{
    animation: rotate 2s forwards;
}

@keyframes rotate2 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate2{
    animation: rotate2 2s forwards;
}






